html, body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.cpr-fetch-status .loading-container {
  text-align: center;
}

h1#headline {
  text-align: center;
}

#page-container {
  width: 100%;
  text-align: center;
}

table#user-info {
  margin: 0 auto;
  width: 400px;
}

table#user-info tr td {
  height: 28px;
  line-height: 28px;
}

table#user-info .attributeNames {
  width: 150px;
}

table#user-info progress {
  width: 100%;
}

.hidden {
  display: none;
}

.loading-wrapper{
  text-align: center;
}

.click-to-edit input {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 2.5px;
  border: 1px solid #eee;
}