<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/3.2.2/stylesheets/foundation.min.css">
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <title>Find dit CPR-nummer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="description" content="Remove unwanted events when syncing with Facebook events. This service will filter your events, so only the events you are attending, or maybe attending will show up.">

    <meta property="og:title" content="Find dit CPR-nummer"/>
    <meta property="og:url" content="http://findcpr.konscript.net"/>
    <meta property="og:image" content="http://findcpr.konscript.net/img/freedom-logo-blue.png"/>
    <meta property="og:site_name" content="Find dit CPR-nummer... her!"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="175492305964600"/>
    <meta property="og:description" content="Dit CPR nummer kan findes på få minutter. Prøv selv at se, hvor let tilgængeligt det er nu."/>
  </head>
  <body ng-app="projectIdentity">

    <h1 id="headline">Find dit CPR-nummer</h1>

    <div class="row hidden">
      <div class="small-2 large-2 columns"></div>
      <div class="small-6 large-8 columns" ng-controller="page" id="page-container">
        <facebook data-app-id='175492305964600' ng-show="facebook.sdkLoaded">
          <a href="#" ng-hide="facebook.status=='connected'" class="facebook-connect-button" ng-click="login()"><img src="img/facebook-connect-button.png"/></a>
          <div id="fb-root"></div>
        </facebook>

        <img src="img/loading.gif" ng-hide="facebook.user.name || facebook.status!='connected'">
        <!-- <img ng-src="{{facebook.user.picture.data.url}}"> -->

        <h4 ng-show="errorMsg">Fejl: {{errorMsg}}</h4>

        <table id="user-info" ng-hide="errorMsg" ng-show="facebook.user.name" >
          <tr>
            <td class="attributeNames">Fornavn:</td>
            <td>{{facebook.user.first_name}}</td></tr>
          <tr>
            <td class="attributeNames">Mellemnavn:</td>
            <td><span click-to-edit="facebook.user.middle_name">{{facebook.user.middle_name}}</span></td>
          </tr>
          <tr>
            <td class="attributeNames">Efternavn:</td>
            <td>{{facebook.user.last_name}}</td>
          </tr>
          <tr><td>Fødselsdag:</td><td>{{facebook.user.birthday}}</td></tr>
          <tr><td>Køn:</td><td>{{facebook.user.gender | translate}}</td></tr>

          <tr ng-switch on="fetchedData.status" class="cpr-fetch-status">
            <td>CPR-nummer: </td>
            <td ng-switch-when="success">{{fetchedData.cpr}}</td>
            <td ng-switch-when="failed">Der skete en fejl. Æv! :(</td>
            <td ng-switch-when="not-found">Dit CPR-nummer blev ikke fundet. Er navn og fødselsdag korrekt?</td>
            <td ng-switch-when="pending">
              <progress max="180" value="{{fetchedData.numberOfAttempts}}">
                <strong>Søger: {{fetchedData.numberOfAttempts/180}}%</strong>
              </progress>
              <div class="loading-container"><img src="img/loading.gif" width="20"/></div>
            </td>
            <td ng-switch-default>
              <a href="#" class="button success radius" ng-click="pollBackend()" ng-hide="pollingInitiated">Find mit CPR-nummer</a>
            </td>
          </tr>
        </table>
      </div>  <!-- end of #page-container  -->
      <div class="small-2 large-2 columns"></div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.0.7/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/facebookDirective.js"></script>
    <script src="js/editableDirective.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
  </body>
</html>